<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Photo Vault 01</name>
    <description>
        blah....
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
		
		
		
		
		
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="KeepRunning" value="true" />



		<plugin name="cordova-plugin-privacyscreen" />		
    <plugin name="cordova-plugin-camera"  spec="~4.0.1" />

</widget>