<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Photo Vault 01</name>
    <description>
        blah....
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
		
		
		
		
		
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="KeepRunning" value="true" />



		<plugin name="cordova-plugin-privacyscreen" />		
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="phonegap-plugin-csdk-client-auth" spec="~1.0.2">
        <variable name="CSDK_CLIENT_ID_IOS" value="182828" />
        <variable name="CSDK_CLIENT_SECRET_IOS" value="7373737" />
        <variable name="CSDK_CLIENT_ID_ANDROID" value="b679249b56904517a7da0930c1647ebc" />
        <variable name="CSDK_CLIENT_SECRET_ANDROID" value="05e1586e-c908-4a57-92ea-3d0f0ac1373f" />
    </plugin>
    <plugin name="phonegap-plugin-csdk-image-editor" spec="~1.0.0" />
		<plugin name="phonegap-plugin-image-capture" spec="~1.1.2" />

</widget>